<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Add Knowledge</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="/style.css">-->

</head>
<body>
<div class="container mt-5">
    <h2>Add New Knowledge</h2>
    <form th:action="@{/addKnowledge}" th:object="${knowledge}" method="POST" enctype="multipart/form-data" class="was-validated" novalidate>
<!--        <div class="form-group">-->
<!--            <label for="fileName">File Name</label>-->
<!--            <input type="text" class="form-control" id="fileName" th:field="*{fileName}" required>-->
<!--            <div class="invalid-feedback" th:if="${#fields.hasErrors('fileName')}" th:errors="*{fileName}">Please provide the project name.</div>-->
<!--        </div>-->

        <div class="form-group">
            <label for="file">File</label>
            <input type="file" class="form-control" id="file" accept="application/pdf" th:field="*{file}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('file')}" th:errors="*{file}">Please provide a description.</div>
        </div>

        <div class="form-group">
            <label for="projectId">Project</label>
            <select class="form-control" id="projectId" name="projectId" required>
                <option th:each="project : ${allProjects}" th:value="${project.id}" th:text="${project.label}"></option>
            </select>
            <!-- Display an error message if there's an error loading projects -->
            <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Add Knowledge to project</button>
        <a href="/knowledgeList" class="btn btn-secondary mb-3">Knowledge List</a>
<!--        <a th:href="@{knowledgeList}" class="btn btn-secondary mb-3">Knowledge List<</a>-->
    </form>
</div>

</body>
</html>
