
<div class="Sidebar" th:partiels="sidebar">

    <div class="Sidebar-burger">
        <img src="/images/Burger.png" alt="Open menu" class="Sidebar-burgerOpen">
        <img src="/images/close.png" alt="Close menu" class="Sidebar-burgerClose">
    </div>
    <div class="Sidebar-logo">
        <img src="/images/Logo.png" alt="Logo" class="Sidebar-logo-img">
    </div>

    <nav>
        <ul>
            <li class="Sidebar-navigationLink"><a th:href="@{/dashboardCollaborator}" ><i class="fas fa-tachometer-alt sidebar-navigation-icon"></i>Dashboard</a></li>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}" ><i class="fas fa-folder-open sidebar-navigation-icon"></i>Projects</a></li>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}" ><i class="fas fa-users sidebar-navigation-icon"></i>Collaborators</a></li>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}" ><i class="fas fa-lightbulb sidebar-navigation-icon"></i>Knowledge</a></li>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}" ><i class="fas fa-user-tie sidebar-navigation-icon"></i>Clients</a></li>
        </ul>
    </nav>

    <nav class="Sidebar-navigation Sidebar-settings">
        <ul>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}"><i class="fas fa-headset sidebar-navigation-icon"></i>Support</a></li>
            <li class="Sidebar-navigationLink"><a th:href="@{/#}"><i class="fas fa-cogs sidebar-navigation-icon"></i>Settings</a></li>
        </ul>
    </nav>
</div>

<!--<script>-->
<!--    document.querySelector('.Sidebar-burgerOpen').addEventListener('click', function() {-->
<!--        document.querySelector('.sidebar').classList.toggle('open');-->
<!--    });-->
<!--    document.querySelector('.Sidebar-burgerClose').addEventListener('click', function() {-->
<!--        document.querySelector('.Sidebar').classList.remove('open');-->
<!--    });-->
<!--</script>-->

