<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Add Project</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="/style.css">-->

</head>
<body>
<div class="container mt-5">
    <h2>Add New Project</h2>
    <form th:action="@{/addProject.html}" th:object="${project}" method="POST" class="was-validated" novalidate>
        <div class="form-group">
            <label for="project name">Project Name</label>
            <input type="text" class="form-control" id="project name" th:field="*{label}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('projectname')}" th:errors="*{label}">Please provide the project name.</div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Please provide a description.</div>
        </div>

        <div class="form-group">
            <label for="client">Client</label>
            <input type="text" class="form-control" id="client" th:field="*{client}" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('client')}" th:errors="*{client}">Please provide the client name.</div>
        </div>

<!--        <div class="form-group">-->
<!--            <label for="gender">Gender</label>-->
<!--            <select class="form-control" id="gender" th:field="*{gender}" required>-->
<!--                <option value="" disabled>Select gender</option>-->
<!--                <option value="female">Female</option>-->
<!--                <option value="male">Male</option>-->
<!--            </select>-->
<!--            &lt;!&ndash;            <div class="invalid-feedback" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Please select</div>&ndash;&gt;-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">Add Project</button>
        <a href="/projectList" class="btn btn-secondary mb-3">Projects List</a>
    </form>
</div>

</body>
</html>
